include AUTHORS.txt
include CHANGES.txt
include LICENSE.txt
include MANIFEST.in
include README.rst
recursive-include django_qbe/templates *
recursive-include django_qbe/static *
recursive-include django_qbe/locale *.po *.mo
