include *.txt
recursive-include django_qbe/templates *.html *.js *.json
recursive-include django_qbe/media *.css *.png *.jpg *.gif *.js *.html *.json
recursive-include django_qbe *.css *.png *.jpg *.gif *.js *.html *.json
