/**
 * Containers
 */

div.qbeDiagram {
    margin-top: 10px;
    margin-right: 5px;
}

div.qbeDiagram div.body {
    margin: 0px;
    background: white;
    color: black;
    border: 2px solid #417690;
    line-height: 20px;
    width: 170px;
    z-index: 20;
    float: left;
    position: absolute;
    box-shadow: 2px 2px 5px #aaa;
   -o-box-shadow: 2px 2px 5px #aaa;
   -webkit-box-shadow: 2px 2px 5px #aaa;
   -moz-box-shadow: 2px 2px 5px #aaa;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

div.qbeDiagram div.body:hover {
    box-shadow: 2px 2px 5px #444;
   -o-box-shadow: 2px 2px 5px #444;
   -webkit-box-shadow: 2px 2px 5px #444;
   -moz-box-shadow: 2px 2px 5px #444;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

div.qbeDiagram div.title {
   width: 100%;
   height: 20px;
   background: #417690;
   color: #F4F379;
   font-weight: normal;
   text-align: center;
   padding-top: 2px;
   line-height: 150%;
   cursor: move;
   font-size: 12px;
   overflow: hidden;
}

div.qbeDiagram div.fieldsContainer {
/*    border-top: 1px dashed #99999D;*/
    height: 95px;
    overflow: auto;
}

div.qbeDiagram div.noOverflow {
/*    border-top: 1px dashed #99999D;*/
    overflow: none;
}

option.field,div.qbeDiagram div.field {
    color: #222;
    height: 20px;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    overflow: hidden;
}

option.primary,div.qbeDiagram div.primary {
    font-weight: bold;
    background: url("../img/key.gif") no-repeat center right #F7FF6C;
}

option.foreign,div.qbeDiagram div.foreign {
    font-style: italic;
    background: url("../img/right_arrow.gif") no-repeat scroll right center #d1f4ff;
    cursor: pointer;
}

option.many,div.qbeDiagram div.many {
    font-style: italic;
    text-decoration: underline;
    background: url("../img/right_arrow_red.gif") no-repeat scroll right center #FAFAFA;
    cursor: pointer;
}

div.qbeDiagram #qbeDiagramContainer {
/*    background-color: #EEE0FE;*/
    border: 1px dashed #EEE0FE;
    float: left;
    height: 450px;
    opacity: 0.9;
    overflow: auto;
    position: relative;
    width: 100%;
    background: url("../img/grid.jpg") scroll left top #FAFAFA;
    margin-bottom: 0px;
}

div.qbeDiagram #qbeBoxAnchor {
    position: relative;
    float: left;
    border: 1px #eee dashed;
    left: 500px;
}

div.qbeDiagram .resizehandle {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 10px;
   height: 10px;
   cursor: se-resize;
}



/**
 * Layers
 */

div.qbeLeftMenu {
    position: absolute;
}

code#qbeSQL {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

#qbeResultsOptions {
    position: absolute;
    left: 0px;
    top: -45px;
}

#resultOptionsWrap{
    font-size: 13px;
    color: #333;
    margin-bottom: 1.4em;
}

#qbeSaveQueryLi {
    background: none;
    padding: 2px 5px 0 0;
}

#qbeSaveQueryLi a {
    background: none;
    color: #999;
}

.qbeContainer {
    float: left;
    width: 81%;
}

input.qbeCheckModels {
/*    display: none;*/
    float: right;
}

#changelist-filter {
    position: relative;
    width: 18%;
    float: right;
    overflow: auto;
    margin-top: 10px;
    min-height: 500px !important;
}

.lngd_box{
    display: inline-block;
    border: 1px solid #CCC;
    height: 14px;
    width: 14px;
    margin-right: 7px;
}

.legend_wrap{
    margin: 14px;
    font-size: 12px;
    font-weight: bold;
}

.legend_wrap .helptext{
    font-weight: normal;
}

.join_lbl, .bool_lbl{
    display: block;
    padding-top: 5px;
    margin-right: 5px;
}

input.labelauty + label{
    max-width: 60px !important;
    min-width: 60px !important;
    width: 60px !important;
    padding: 3px;
}

#report_list td, #report_list th{
    font-size:15px;
    padding: 11px;
    line-height: normal;
    vertical-align: middle;
    text-align: justify;
}

#report_list tfoot td{
    text-align: center;
}

#report_list tbody td:first-child, #report_list th:first-child{
    min-width: 260px;
    text-align: right;
}

#report_list tfoot{
    text-align: center;
}

.tabular{
    width: 100%;
}

.help_inner h4{
    font-size: 18px;
    margin-bottom: 4px;
}

.help_inner figure{
    text-align: center;
}

.help_inner figure img{
    border: 1px solid #EEE;
    margin: 0 5px 5px 5px;
}

.help_inner figcaption{
    font-size: 12px;
    font-style: italic;
}

.qbe_help_overlay{
    top: 20px;
}

.help_inner figure{
    margin: 0 10px 10px 10px;
    padding: 0 5px 5px 5px;
}

.help_block{
    margin-top: 20px;
    border-top: 1px solid #CCC;
    padding-top: 20px;
    position: relative;
    text-align: justify;
}

.help_block .rimg{
    position: absolute;
    right: 0px;
    margin-right: 0px;
}

.help_block .rimg img{
    margin-right: 0px;
}

.help_block .limg{
    position: absolute;
    left: 0px;
    margin-left: 0px;
}

.help_block .limg img{
    margin-left: 0px;
}

.multi_value_input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    font-size: 14px;
}

